#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.first-line,
.second-line {
  display: inline;
}

.siteLinks {
  margin: 40px 0px;
}

@media (max-width: 400px) {
  .first-line,
  .second-line {
    display: block;
  }
}
